@page "/"
@using Components.Genres

<div class="d-flex justify-center align-items-center flex-wrap mt-10">
    <MudText Typo="Typo.h2" Align="Align.Center" Style="width: 100%;" Color="Color.Success"><b>Royalty-free music for videos</b></MudText>
    <MudText Typo="Typo.h6" Align="Align.Center" Style="width: 50%">Get unlimited access to our music and sound effects catalog for your videos, streams and podcasts. Our license comes with all necessary rights included.</MudText>
</div>

<MudSpacer/>

<div class="d-flex justify-center align-items-center flex-wrap mt-10 pt-10">
    <MudText Typo="Typo.h3" Align="Align.Center" Style="width: 100%;"><b>Real music, real impact</b></MudText>
    <MudText Typo="Typo.h6" Align="Align.Center" Style="width: 50%">We work with leading music creators from around the world to bring you exclusive, authentic new tracks on a daily basis</MudText>
</div>

<div class="d-flex justify-center align-items-center flex-wrap mt-10">
    <GenreButton Genre="Electronica & Dance" Image="https://www.epidemicsound.com/staticfiles/player/20230509.39-757647594589e8c7c3db0919edcffe55f590b35f/2f59a26381a96b52f323d776fabf5873.webp"></GenreButton>
    <GenreButton Genre="Film" Image="https://www.epidemicsound.com/staticfiles/player/20230509.39-757647594589e8c7c3db0919edcffe55f590b35f/55063c09b92206e5cc0e791fa8e07daf.webp"></GenreButton>
</div>