@namespace Components.Genres
<div class="d-flex  align-items-center justify-center flex-wrap mr-4" style="width: 150px;">
    <MudImage Fluid="true" Src="https://picsum.photos/150" Alt="Mony the dog" 
              Height="150" Width="150" Style="max-height:150px" 
              Elevation="25" Class="rounded-lg" ObjectFit="ObjectFit.Fill"/>
    <MudText Typo="Typo.h6" Align="Align.Center" Style="vertical-align: text-top; height: 70px" Class="mt-1"><b>@Genre</b></MudText>
</div>


@code {
    [Parameter]
    public string Genre { get; set; }
}