@using Components.Genres
@page "/"

<div class="d-flex justify-center align-items-center flex-wrap mt-10">
    <MudText Typo="Typo.h2" Align="Align.Center" Style="width: 100%;" Color="Color.Success"><b>Royalty-free music for videos</b></MudText>
    <MudText Typo="Typo.h6" Align="Align.Center" Style="width: 50%">Get unlimited access to our music and sound effects catalog for your videos, streams and podcasts. Our license comes with all necessary rights included.</MudText>
</div>

<MudSpacer/>

<div class="d-flex justify-center align-items-center flex-wrap mt-10">
    <GenreButton Genre="Electronica & Dance"></GenreButton>
    <GenreButton Genre="Film"></GenreButton>
</div>